<%- include("templates/header") %>

<div class="container">
  <h1>Hello, <%= username %></h1>

  <div class="container-fluid">
    <h3>User Information</h3>
    <table class="table table-hover table-centered">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Favourites</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>
              <%= username %>
            </td>
            <td>
              <%= email %>
            </td>
            <td>
              <%= password %>
            </td>
          </tr>
      </tbody>
    </table>
    </body>
  </div>


  <form action="/logout" method="get">
    <button>Logout</button>
  </form>

  <form action="/reset" method="get">
    <button>Reset Password</button>
  </form>

<%- include("templates/footer") %>
